<html>
    <head>
        <%- include('../views/head'); %> <!--Include head file-->
    </head>
<body class = "container">
    <header>
        <%- include('../views/header'); %> <!--Include header file-->
    </header>
    <style> 
        table{
            border-collapse: collapse;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        th, td{
            padding: 5px;
            text-align: center;
        }
        th{
            background-color: rgb(200, 220, 255);
        }
    </style>
    <main>
        <div>
             <a href = "/Inclusion/add" class = "btn btn-info" style= "margin-top: 10px; margin-bottom: 10px; margin-left: 35%;"> Add Inclusion </a>
        </div>
            <table id = Inclusion> 
                <tr>
                    <th style="width: 50px">ID</th>
                    <th>Inclusion</th> 
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                <% locals.Inclusion.forEach(function(Inclusions) { %> 
                <tr>
                    <td><%= Inclusions.InclusionID %></td>
                    <td><%= Inclusions.InclusionName %> </td>
                    <td>
                    <form action = "/Inclusion/update/<%= Inclusions.InclusionID %>" method = "GET">
                        <input type = "hidden" name = "id" value = <%= Inclusion.InclusionID %>> 
                        <input type = "submit" value = "Update" class = "btn btn-primary">
                    </form>
                    </td>
                    <td>
                    <form action = "/Inclusion/delete/<%= Inclusions.InclusionID %>" method = "GET">
                        <input type = "hidden" name = "id" value = <%= Inclusions.InclusionID %>> 
                        <input type = "submit" value = "Delete" class = "btn btn-danger"> 
                    </td>
                    </form>
                </tr>
                <% }); %>
            </table>
            </div>
            <br><br>
    </main>
</body>
</html>