<html>
    <head>
        <%- include('../views/head'); %> <!--Include head file-->
    <style>h1 {text-align: center;}</style>
        
    </head>
<body class = "container">
    <header>
        <%- include('../views/header'); %> <!--Include header file-->
    </header>
    <main>
        <div style="padding: 20px; border: solid; margin-top: 10%;">
        <h1>Update Hair Products</h1>
        <br>
        <br>
        <!--CANT GET THE TEXTBOXES TO AUTOFILL!!!-->
        <form action = "/HairProduct/update/<%= locals.id %>" method = "post" class = "Update">
            <% ProductType.forEach(function(ProductTypes) { %>
            <label for = "ProductType"> Product Type: </label>
            <input type = "text" id = "ProductType" name = "ProductType" value = "<%= ProductTypes.ProductType %>">
            <label for = "Color" style="margin-left: 10%;">   Color: </label>
            <input type = "text" id = "Color" name = "Color" value = "<%= ProductTypes.Color %>">
            <label for = "ProductName" style="margin-left: 10%;"> Product Name: </label>
            <% }); %>

            <% HairProduct.forEach(function(HairProducts) { %>
            <input type = "text" id = "ProductName" name = "ProductName" value = "<%= HairProducts.ProductName %>">
            <label for = "ProductDescription" style="margin-left: 10%;"> Product Description: </label>
            <input type = "text" id = "ProductDescription" name = "ProductDescription" value = "<%= HairProducts.ProductDescription %>">
            <label for = "ProductVolume" style="margin-left: 10%;"> Product Volume: </label>
            <input type = "text" id = "ProductVolume" name = "ProductVolume" value = "<%= HairProducts.ProductVolume %>">
            <% }); %>

            <br>
        <input type = "submit" value = "Update" class = "btn btn-primary" style="margin-top: 2%;">
        </form>
        </div>
    </main>
</body>
</html>